$border-color: rgba(16, 18, 16, 0.10196078431372549);
$drop-shadow: drop-shadow(0px 5px 15px rgba(215, 215, 217, 0.3));
$box-shadow: rgba(0, 0, 0, 0.3);
$box-shadow-light: rgba(0, 0, 0, 0.1);
$box-shadow-dark: rgba(187, 247, 55, 0.2);
$border-top-shadow: rgba(255, 255, 255, 0.25);
$white-color: #fff;
$dark-color: #101210;
$bg-color: #ffde5d;
$light-dark-color: #101010;
$link-color: #232323;
$light-bg-color: #f8f8f8;
$b-color: #ddd;
$gray-color: #7b7b7b;
$light-gray-color: #a8a8b3;
$filter-coloe: rgba(215, 215, 217, 0.3);
$all-border-color: rgba(19, 17, 37, 0.1);
$border-left: rgba(16, 18, 16, 0.2);
$star-color: #ffa133;
// Font-size

$font-size-11: 11px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-22: 22px;
$font-size-25: 25px;
$font-size-28: 28px;
$font-size-38: 38px;
$font-size-17: 17px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-30: 30px;
$font-size-44: 44px;
$font-size-50: 50px;

//border-size
$border-size-1: 1px;

//padding

$padding-10: 10px;
$padding-100: 100px;
$padding-110: 110px;
$padding-114: 114px;
$padding-118: 118px;
$padding-12: 12px;
$padding-13: 13px;
$padding-135: 135px;
$padding-17: 17px;
$padding-18: 18px;
$padding-20: 20px;
$padding-21: 21px;
$padding-22: 22px;
$padding-23: 23px;
$padding-25: 25px;
$padding-27: 27px;
$padding-28: 28px;
$padding-3: 3px;
$padding-30: 30px;
$padding-34: 34px;
$padding-340: 340px;
$padding-35: 35px;
$padding-38: 38px;
$padding-39: 39px;
$padding-4: 4px;
$padding-40: 40px;
$padding-42: 42px;
$padding-45: 45px;
$padding-5: 5px;
$padding-50: 50px;
$padding-52: 52px;
$padding-60: 60px;
$padding-70: 70px;
$padding-76: 76px;
$padding-8: 8px;
$padding-9: 9px;
$padding-90: 90px;
$padding-95: 95px;

// margin

$margin-auto: 0 auto;
$margin--95: -95px;
$margin--5: -5px;
$margin--20: -20px;
$margin-100: 100px;
$margin-10: -10px;
$margin-115: 115px;
$margin-120: 120px;
$margin-20: 20px;
$margin-27: 27px;
$margin-21: 21px;
$margin-28: 28px;
$margin-3: 3px;
$margin-30: 30px;
$margin-38: 38px;
$margin-48: 48px;
$margin-50: 50px;
$margin-6: 6px;
$margin-75: 75px;

// border-radius

$b-r-20: 20px;
$b-r-25: 25px;
$b-r-30: 30px;
$b-r-5: 5px;
$-b-r-50: 50px;

// line-height
$line-height-1: 1.3;
$line-height-2: 1.2;
$line-height-22: 22px;
$line-height-26: 26px;
$line-height-44: 44px;
$line-height-46: 46px;
$line-height-60: 60px;
// transition
$transtion-5: 0.5s;
